<div class="container">
    <ul class="nav justify-content-end">
        <li class="nav-item">
            <a class="nav-link disabled" href="#">José da Silva</a>
        </li>    
      </ul>
    <ul class="nav">
      <li class="nav-item">
          <nav class="navbar navbar-light bg-light">
              <a class="navbar-brand" href="#">
                <img src="https://d13yacurqjgara.cloudfront.net/users/28449/screenshots/1040285/cap-logo-ideas3_1x.png" width="50px" height="50px" alt="">
              </a>
            </nav>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Linha do tempo</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Perfil</a>
      </li>
    </ul>
 
</div>

